body {
    display: flex;
    flex-direction:column;
    margin: 0;
    font-family: 'Roboto', sans-serif;  
    font-style: normal;
}

ul {

}

li {
    list-style-type: none;
}

a {
   text-decoration: none;
   color: #F9FAF8;
}
a:hover {
    text-decoration: none;
    color:#3882F6;
}

p {
    margin: 0;
}

.signup {
    width: 75px;
    height: 25px;
    color: #F9FAF8;
    border: solid 2px #F9FAF8;
    border-radius: 5px;
    background-color: #3882F6;
}

.signup:hover {
    width: 75px;
    height: 25px;
    color: #1F2937;
    border: solid 2px #F9FAF8;
    background-color:#F9FAF8;
    cursor: pointer;
}

.headercontainer1 {
    display:flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #F9FAF8;
    margin:0;
    padding: 0;
    padding-bottom: 75px;
    margin-bottom: 20px;
    align-items: center;
}

.headercontainer2 {
    width: 85%;
    margin-bottom: 30px;
}

.headeritems {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    display: flex;
    border: solid 1px;
    border-color: #F9FAF8;
    width:75px;
    height:75px;
}

.linkscontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
}

.herocontainer {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.hero {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.heromaintext {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.herosubtext {
    font-size:18px;
    color: #E5E7EB;
    margin: 0 0 5px;
    padding: 0;
}

.imgplacehold{
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 400px;
    min-width: 400px;
    height: 200px;
    min-height: 200px;
    background-color: grey;
}

.bodycontainer {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;

}

.infoheader {
    justify-self: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 5px;
}

.imageboxcontainer {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
}

.imagebox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    Width: 150px;
    height: 200px;
    text-align: center;
}

.imgborder {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: solid 3px #3882F6;
    margin-bottom: 0; 
}

.imgsubtext{
    margin: 0;
}

.quotebanner {
    background-color: #E5E7EB;
    width: 100%;
    padding-top: 75px;
    padding-bottom: 75px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.quotewords {
    display: flex;
    padding-top: 2.5%;
    padding-right: 20%;
    padding-left: 20%;

    font-size: 25px;
    color:#1F2937;
    font-weight: 300;
}

.quoteperson {
    text-align: end;
    padding-right: 20%;
    font-size: 20px;
    font-weight: 700;
}

.footer{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-around;
    color:#F9FAF8;
    background-color: #3882F6;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 75%;
    max-width: 600px;
    margin-bottom: 5%;

}

.call1 {
    font-weight: 600;
}

.call2 {
    font-size: 10px;;
}